<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./includes/head.ejs') %>
    </head>
    <body class="overflow-hidden bg-primary">
        <%- include('./includes/header.ejs') %>

        <div>
            <%= titre %>
        </div>
        
        <%- include('./includes/foot.ejs') %>
</body>
</html>