<nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">
                    <div class="d-flex py-0">
                        <div class="bg-black d-flex align-items-center px-1 ps-4 fs-1 rounded-start-3">NET</div>             
                        <div class="bg-white d-flex align-items-center text-black fs-1 px-1 pe-4 rounded-end-3">VIDEO</div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light d-flex align-items-centrer px-4" aria-current="page" href="/"><span type="button" class="material-symbols-outlined me-2">home</span>ACCUEIL</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light d-flex align-items-centrer align-middle px-4 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            <span type="button" class="material-symbols-outlined me-2">category</span>GENRES<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="height: auto; overflow-x: hidden; overflow-y: scroll; max-height: 600px;">
                            <%  for (let i=0; i<resultatCategories.length; ++i){ %>
                                    <li><a class="dropdown-item" href="?Categorie=<%= resultatCategories[i].nom %>"><%= resultatCategories[i].nom %></a></li>        
                            <%  } %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light d-flex align-items-centrer px-4" href="#"><span type="button" class="material-symbols-outlined me-2">cloud_upload</span>UPLOAD</a>
                    </li>
                    </ul>
                    <div class="d-flex" role="recherche">
                        <input id="recherche" class="form-control me-2" type="search" placeholder="Chercher vos film ici..." aria-label="Recherche" onkeydown="onClavierDown(this)">
                        <button class="btn btn-success" type="submit"  onclick="onRecherche()">Recherche</button>
                    </div>
                </div>
            </div>
        </nav>
<div>
    <div class="d-flex justify-content-end mx-4">
        <div class="badge text-bg-secondary d-flex me-3"><h5 class="me-2 fw-bold my-0">FILTRE:</h5><h5 class="my-0"><%= typeFiltre===0?'TOUS':typeFiltre===1?'RECHERCHE - "'+Recherche+'"':typeFiltre===2?'CATÉGORIE - "'+Categorie+'"':'AUTRE' %></h5></div>
        <div class="badge text-bg-warning d-flex align-items-center"><h5 class="me-2 fw-bold my-0">TOTAL:</h5><h5 class="my-0 text-danger"><%= resultatVideos.length %></h5></div>
    </div>
</div>